/* Formatação do Menu*/


nav#menu_carvao{
    display: block;

}


nav#menu_carvao ul{
    list-style: none;
    text-transform: uppercase;
    position: absolute;
    top: -20px;
    left: 800px;

}

nav#menu_carvao li{
    display: inline-block;
    background-color: grey;
    padding: 10px;
    margin: 2px;
    transition: background-color 1s;

}

nav#menu_carvao li:hover{
    background-color: black;
}

nav#menu_carvao h1{
    display: none;

}

nav#menu_carvao a{
    color: white;
    text-decoration: none;
}

nav#menu_carvao a:hover{
    color: white;

}


/* Formatação de letras*/

h1{
    font-family: Arial, Helvetica, sans-serif;
    color: white;
}

h2{
    font-family: Arial, Helvetica, sans-serif;
    color: white;

}

h3{
    font-family: Arial, Helvetica, sans-serif;
    color: white;

}

p.legenda{
    font-weight: bold;
    font-size: 1em;
    color: white;
}

p{
    font-size: 20px;
    font-family: Arial, Helvetica, sans-serif;
    text-align: justify;
    color: white;
}

p.rodape{
    font-family: Arial, Helvetica, sans-serif;
    color: #F8F8FF;

}

li.topico{
    font-size: 18px;
    font-family: Arial, Helvetica, sans-serif;
    color: white;
}

body
{
    background-color: #0e1111 !important;
    background-image: url(carvao_fundo.png);
}



/* Formatação da interface*/

div#interface{
    min-width: 400;
    margin: 10px auto 100px auto;
    max-width: 1700px;
    position: relative;
}


/* Formatação de imagens*/

 img{
    height: auto;
    width: 40%;
    max-width: 100%
}

img.entrada{
    height: auto;
    min-width: 100%;

}


img.grande{
    height: auto;
    width: 25%;
    max-width: 100%;
}

/* Formatação do cabeçalho*/

header#cabecalho{
    border-bottom: 1px white solid;
    height: 160px;
    position: relative;   
    background: #0e1111;
}

header#cabecalho h1{
    font-family: Arial, Helvetica, sans-serif;
    font-size: 30px;
    text-shadow: 1px 1px 1px white;
   
}

header#cabecalho h2{
    font-family: Arial, Helvetica, sans-serif;
    color: white;
    font-size: 20px;

}

header#cabecalho p{
    font-family: Arial, Helvetica, sans-serif;
    color: white;
    font-size: 20px;

}

/* Formatação do rodapé*/

footer#rodape{
    clear: both;
    border-top: 1px solid white;
    width: 100%;
    bottom: 0;
    margin-top: 47vh;
    position: fixed;
    background-color: #0e1111;

}

footer#rodape p{
    text-align: center;
    font-size: 12px;
}

/* Formatação da tabela*/

tr:nth-child(even) {
    background-color: #f2f2f2;
  }

th{
    background-color: grey;
}

td.zebrada{
    background-color: white;
}

table {
    border-collapse: collapse;
    border-spacing: 0;
    width: 100%;
    border: 3px solid grey;
  }

  caption{
    background-color: grey;
    font-weight: bolder;
  }

